<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <session-factory name="org.redhelix.persistanceUnit">
            <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
            <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
            <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/RedHelixMoon</property>
            <property name="hibernate.connection.username">redHelixAdmin</property>
            <property name="hibernate.connection.password">redHelixAdmin</property>
            <property name="hibernate.show_sql">true</property>
            <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
        </session-factory>
    </session-factory>
</hibernate-configuration>
